<div>
  <h1>Rummy game</h1>
  <p>Welcome to the game! To join a game, type your name and the given code into the input fields. If you want to start a new game, then leave out the code field. To see the rules, click on the <b>Rules</b> button.</p>
  <button (click)="toggleRules()">Rules</button>
  <p *ngIf="showRules">TODO: Put rules here</p>
  <form [formGroup]="landingForm" (ngSubmit)="onSubmit()">
    <label for="code">Code: </label>
    <input id="code" type="text" formControlName="code">
    <label for="name">Name: </label>
    <input id="name" type="text" formControlName="name">
<ul>
  <ng-container *ngIf="code?.invalid && (code?.dirty || code?.touched)">
    <li *ngIf="code?.hasError('minlength') || code?.hasError('maxlength')">
      Code must be exactly 5 characters.
    </li>
  </ng-container>

  <ng-container *ngIf="name?.invalid && (name?.dirty || name?.touched)">
    <li *ngIf="name?.hasError('required')">
      Name is required.
    </li>
    <li *ngIf="name?.hasError('minlength')">
      Name must be at least 3 characters long.
    </li>
  </ng-container>
</ul>
    <button [disabled]="landingForm.invalid">Start game</button>
  </form>
</div>
